@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@layer utilities {
	.filter-none {
		filter: none;
	}

	.filter-invert {
		filter: invert(1);
	}
}
